
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc


# Jupyter Notebook
.ipynb_checkpoints/

# Dependency folders
/dist/
/build/

# Distribution/installation files
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/

# Python Installer
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env
.env.*

# pyenv
.python-version


#Ignore a specfific files
shell.py


# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
db.sqlite3
/media
/staticfiles
/.idea
*.iml

# Local development settings
local_settings.py

# macOS
.DS_Store

# PyCharm
.idea/

# VSCode
.vscode/
*.code-workspace

# Ignore database configuration file
config/database.yml

# Ignore all .env files
.env*

# Ignore Docker Compose override file
docker-compose.override.yml

# Ignore npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
